<!DOCTYPE html>
<html lang="en">
<head>
    <title>INMOBILIARIA</title>
    <link rel="stylesheet" href="../public/css/estilo.css">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">Inmobiliaria</p>
            <nav>
                <a href="v1/clientes/">Quienes Somos</a>
                <a href="v1/clientes/">Contacto</a>
                <a href="v1/registro/">Registrarte</a>
            </nav>
        </div>
    </header>

    <section id="hero">
        <h2 class="parra1">Aquí descubrirás nuevas experiencias dentro de un entorno único, donde el confort, modernidad y la
        naturaleza son los creadores del equilibrio que siempre has soñado.</h2>
        <button>ENTERATE YA!</button>
    </section>
  <h2 class="destacados">Destacados</h2>
    <div class="containergale">
       
        <div class="column">
          <img src="../public/img/1.JPG" alt="Imagen 1">
          <h2 class="desc_pro">Apartamentos</h2>
          <p>Venecia Cra. 11 con Cl. 114  /  Área: 423,76 m2</p>
          <p class="price">Valor: $2.300.000.000</p>
          <button>Ver  Detalles</button>
        </div>
        <div class="column">
          <img src="../public/img/3.jpg" alt="Imagen 2">
          <h2 class="desc_pro">Apartamentos</h2>
          <p>Florencia  /  Área: 186,32 m2</p>
          <p class="price">Valor: $860.000.000</p>
          <button>Ver  Detalles</button>
        </div>
        <div class="column">
          <img src="../public/img/4.jpg" alt="Imagen 3">
          <h2 class="desc_pro">Lotes en Venta</h2>
          <p>Via sampues - Palmira  /  Área: 2.623 m2</p>
          <p class="price">Valor: $1.000.000.000</p>
          <button>Ver  Detalles</button>
        </div>
        
 
        <div class="column">
            <img src="../public/img/6.jpg" alt="Imagen 1">
            <h2 class="desc_pro">Local en Arriendo</h2>
            <p>Sincelejo - Sucre  /  Área: 212,28 m2</p>
            <p class="price">Valor: $12.300.000</p>
            <button>Ver  Detalles</button>
          </div>
          <div class="column">
            <img src="../public/img/7.jpg" alt="Imagen 2">
            <h2 class="desc_pro">Local en Arriendo</h2>
            <p>Sincelejo - Sucre  /  Área: 212,28 m2</p>
            <p class="price">Valor: $31.842.000</p>
            <button>Ver  Detalles</button>
          </div>
          <div class="column">
            <img src="../public/img/5.jpg" alt="Imagen 3">
            <h2 class="desc_pro">Lotes en Ventas</h2>
            <p>Via sampues - Palmira  /  Área: 2.623 m2</p>
            <p class="price">Valor: $1.000.000.000</p>
            <button>Ver  Detalles</button>
          </div>
        
      </div>
      

      

    <section id="nuestros-programas">
        <div class="container">

            
            <h2>Proyectos con Beneficios</h2>
            <div class="programas">
                <div class="carta">
                    <h3>LA PROVINCIA</h3>
                    <p>69-90 m2 área construida - 2-3 habitaciones - 
                    2-2 baños - 69-90 m2 área total / 
                    Rionegro, Rionegro, Antioquia </p>
                    <button>+ Info</button>
                </div>
                <div class="carta">
                    <h3>Aragón Castilla Reservado</h3>
                    <p>69-90 m2 área construida - 2-3 habitaciones - 
                        2-2 baños - 69-90 m2 área total</p>
                    <button>+ Info</button>
                </div>
                <div class="carta">
                    <h3>ED. POSEIDON APARTASUITES</h3>
                    <p>69-90 m2 área construida - 2-3 habitaciones - 
                        2-2 baños - 69-90 m2 área total</p>
                    <button>+ Info</button>
                </div>  
            </div>
        </div>
    </section>

    <section id="caracteristicas">
        <div class="container">
            <ul>
                <li>✔️ Apartamentos en venta en Bogotá D.C</li>
                <li>✔️ Apartamentos en venta Medellín</li>
                <li>✔️ Apartamentos en venta en Santa Marta</li>
                <li>✔️ Casas en venta Cali </li>
                <li>✔️ Casas en venta Medellín</li>
              
                
            </ul>
        </div>
    </section>

    <section id="final">
        <h2>Listo para trabajar con nosotros?</h2>
        <button>Pregunta YA!</button>
    </section>

    <footer> <p>Parcial Desarrollo web 2023 Inmobiliaria</p> </footer>
</body>
</html>